<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.m1racle.yuedong">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.MOUNT_UNMOUNT_FILESYSTEMS" />
    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.CHANGE_NETWORK_STATE" />

    <application
        android:name=".AppContext"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:screenOrientation="portrait"
        android:theme="@style/AppBaseTheme_Light">
        <meta-data
            android:name="com.baidu.lbsapi.API_KEY"
            android:value="49cd964eca9d2f38547034ed2781ce21" />

        <activity
            android:name=".AppStart"
            android:label="@string/app_name"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.AppStartLoad">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".ui.activity.MainActivity"
            android:icon="@mipmap/ic_launcher"
            android:label="@string/app_name" />
        <activity
            android:name=".ui.activity.LoginActivity"
            android:label="@string/login" />
        <activity
            android:name=".ui.activity.UtilActivity"
            android:configChanges="keyboardHidden|orientation"
            android:screenOrientation="portrait" />
        <!-- BaiduMap Service -->
        <service
            android:name="com.baidu.location.f"
            android:enabled="true"
            android:process=":remote" />
        <service android:name=".service.BDLocationService" />
        <!-- Service -->
        <service
            android:name=".service.NotificationPushService"
            android:label="NPS" />
        <!-- Broadcast Receiver -->
        <receiver android:name=".service.receiver.NPSBroadcastReceiver" />

        <activity
            android:name=".ui.activity.SocialUtilActivity"
            android:label="@string/title_activity_social_util" />
        <activity
            android:name=".ui.activity.UserProfileActivity"
            android:label="@string/title_activity_user_profile"
            android:theme="@style/NoActionBar" />
        <activity android:name=".ui.activity.BaomingActivity" />
        <activity
            android:name=".ui.activity.WeightActivity"
            android:label="@string/btn_fn_weight" />

        <service
            android:name=".service.UpdateWeatherService"
            android:enabled="true"
            android:exported="false" />

        <activity
            android:name=".ui.activity.ScienceInfoActivity"
            android:label="@string/title_activity_science_info" />
        <activity
            android:name=".ui.activity.WeightRecordActivity"
            android:label="@string/title_activity_weight_record" />
        <activity
            android:name=".ui.activity.WeightGoalActivity"
            android:label="@string/title_activity_weight_goal" />
        <activity
            android:name=".ui.activity.MessageActivity"
            android:label="@string/title_activity_message"></activity>
    </application>

</manifest>
